<a href="https://colab.research.google.com/github/be1le/machine-learning/blob/main/%ED%98%91%EC%97%85%ED%95%84%ED%84%B0%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1번: 사용자기반 협업필터링 : 사용자가 직접 매긴 점수로 데이터를 찾음 
2번: 비슷한 평점을 받은 영화 아이템을 찾아서 추측**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [ ]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.width',300)

In [ ]:
movie_ratings = pd.merge(ratings, movies, on='movieId')
movie_ratings

        userId  movieId  rating   timestamp                             title                                       genres
0            1        1     4.0   964982703                  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1            5        1     4.0   847434962                  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2            7        1     4.5  1106635946                  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
3           15        1     2.5  1510577970                  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
4           17        1     4.5  1305696483                  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
...        ...      ...     ...         ...                               ...                                          ...
100831     610   160341     2.5  1479545749                  Bloodmoon (1997)                              Action|Thriller
100832     610   160527     4.5  1479544998  Sympathy for the Underdog (1971)                           Action|Crime|Drama
100833     610   160836     3.0  1493844794                     Hazard (2005)                        Action|Drama|Thriller
100834     610   163937     3.5  1493848789                Blair Witch (2016)                              Horror|Thriller
100835     610   163981     3.5  1493850155                         31 (2016)                                       Horror

[100836 rows x 6 columns]

In [ ]:
title_user = movie_ratings.pivot_table('rating',index='userId',columns='title')
title_user

title   '71 (2014)  'Hellboy': The Seeds of Creation (2004)  'Round Midnight (1986)  'Salem's Lot (2004)  'Til There Was You (1997)  ...  eXistenZ (1999)  xXx (2002)  xXx: State of the Union (2005)  ¡Three Amigos! (1986)  À nous la liberté (Freedom for Us) (1931)
userId                                                                                                                               ...
1              NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    4.0                                        NaN
2              NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    NaN                                        NaN
3              NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    NaN                                        NaN
4              NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    NaN                                        NaN
5              NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    NaN                                        NaN
...            ...                                      ...                     ...                  ...                        ...  ...              ...         ...                             ...                    ...                                        ...
606            NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    NaN                                        NaN
607            NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    NaN                                        NaN
608            NaN                                      NaN                     NaN                  NaN                        NaN  ...              4.5         3.5                             NaN                    NaN                                        NaN
609            NaN                                      NaN                     NaN                  NaN                        NaN  ...              NaN         NaN                             NaN                    NaN                                        NaN
610            4.0                                      NaN                     NaN                  NaN                        NaN  ...              NaN         2.0                             1.5                    NaN                                        NaN

[610 rows x 9719 columns]

In [ ]:
title_user = title_user.fillna(0)
title_user

title   '71 (2014)  'Hellboy': The Seeds of Creation (2004)  'Round Midnight (1986)  'Salem's Lot (2004)  'Til There Was You (1997)  ...  eXistenZ (1999)  xXx (2002)  xXx: State of the Union (2005)  ¡Three Amigos! (1986)  À nous la liberté (Freedom for Us) (1931)
userId                                                                                                                               ...
1              0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    4.0                                        0.0
2              0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    0.0                                        0.0
3              0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    0.0                                        0.0
4              0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    0.0                                        0.0
5              0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    0.0                                        0.0
...            ...                                      ...                     ...                  ...                        ...  ...              ...         ...                             ...                    ...                                        ...
606            0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    0.0                                        0.0
607            0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    0.0                                        0.0
608            0.0                                      0.0                     0.0                  0.0                        0.0  ...              4.5         3.5                             0.0                    0.0                                        0.0
609            0.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         0.0                             0.0                    0.0                                        0.0
610            4.0                                      0.0                     0.0                  0.0                        0.0  ...              0.0         2.0                             1.5                    0.0                                        0.0

[610 rows x 9719 columns]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
user_based_collab = cosine_similarity(title_user,title_user)
print(user_based_collab)

[[1.         0.02728287 0.05972026 ... 0.29109737 0.09357193 0.14532081]
 [0.02728287 1.         0.         ... 0.04621095 0.0275654  0.10242675]
 [0.05972026 0.         1.         ... 0.02112846 0.         0.03211875]
 ...
 [0.29109737 0.04621095 0.02112846 ... 1.         0.12199271 0.32205486]
 [0.09357193 0.0275654  0.         ... 0.12199271 1.         0.05322546]
 [0.14532081 0.10242675 0.03211875 ... 0.32205486 0.05322546 1.        ]]

In [ ]:
user_based_collab = pd.DataFrame(user_based_collab, index=title_user.index, columns=title_user.index)
print(user_based_collab)

userId       1         2         3         4         5    ...       606       607       608       609       610
userId                                                    ...
1       1.000000  0.027283  0.059720  0.194395  0.129080  ...  0.164191  0.269389  0.291097  0.093572  0.145321
2       0.027283  1.000000  0.000000  0.003726  0.016614  ...  0.028429  0.012948  0.046211  0.027565  0.102427
3       0.059720  0.000000  1.000000  0.002251  0.005020  ...  0.012993  0.019247  0.021128  0.000000  0.032119
4       0.194395  0.003726  0.002251  1.000000  0.128659  ...  0.200395  0.131746  0.149858  0.032198  0.107683
5       0.129080  0.016614  0.005020  0.128659  1.000000  ...  0.106435  0.152866  0.135535  0.261232  0.060792
...          ...       ...       ...       ...       ...  ...       ...       ...       ...       ...       ...
606     0.164191  0.028429  0.012993  0.200395  0.106435  ...  1.000000  0.153063  0.262558  0.069622  0.201104
607     0.269389  0.012948  0.019247  0.131746  0.152866  ...  0.153063  1.000000  0.283081  0.149190  0.139114
608     0.291097  0.046211  0.021128  0.149858  0.135535  ...  0.262558  0.283081  1.000000  0.121993  0.322055
609     0.093572  0.027565  0.000000  0.032198  0.261232  ...  0.069622  0.149190  0.121993  1.000000  0.053225
610     0.145321  0.102427  0.032119  0.107683  0.060792  ...  0.201104  0.139114  0.322055  0.053225  1.000000

[610 rows x 610 columns]

In [ ]:
user = user_based_collab[1].sort_values(ascending=False)[:10].index[1]

In [ ]:
result = title_user.query(f"userId == {user}").sort_values(ascending=False, by=user,axis=1)
print(result)

title   Evil Dead II (Dead by Dawn) (1987)  Dirty Work (1998)  Goodfellas (1990)  Fish Called Wanda, A (1988)  Fisher King, The (1991)  ...  Fugitives (1986)  Full Moon in Blue Water (1988)  Fullmetal Alchemist 2018 (2017)  \
userId                                                                                                                                  ...
266                                    5.0                5.0                5.0                          5.0                      5.0  ...               0.0                             0.0                              0.0

title   Fullmetal Alchemist the Movie: Conqueror of Shamballa (Gekijô-ban hagane no renkinjutsushi: Shanbara wo yuku mono) (2005)  À nous la liberté (Freedom for Us) (1931)
userId
266                                                   0.0                                                                                                                0.0

[1 rows x 9719 columns]

In [ ]:
user_index_list = user_based_collab[1].sort_values(ascending=False)[:10].index.tolist()
print(user_index_list)

[1, 266, 313, 368, 57, 91, 469, 39, 288, 452]

In [ ]:
user_weight_list = user_based_collab[1].sort_values(ascending=False)[:10].tolist()
print(user_weight_list)

[1.0, 0.3574077096032743, 0.3515615184909569, 0.3451270515835304, 0.3450342788075837, 0.3347269204181707, 0.33066431506520094, 0.32978223365752674, 0.3296995292829289, 0.3280483444245288]

In [ ]:
movie_title = 'Dark Knight, The (2008)'

weighted_sum = []
weighted_user = []
for i in range(1,10):
  if int(title_user[movie_title][user_index_list[i]]) is not 0:
    weighted_sum.append(title_user[movie_title][user_index_list[i]] * user_weight_list[i])
    weighted_user.append(user_weight_list[i])

print(weighted_sum)
print(weighted_user)

[1.48364788177318]
[0.3296995292829289]

In [ ]:
print(sum(weighted_sum)/sum(weighted_user))

4.5

**아이템 기반 협업 필터링**

In [ ]:
user_title = movie_ratings.pivot_table('rating', index='title',columns='userId')
user_title= user_title.fillna(0)
user_title

userId                                     1    2    3    4    5    ...  606  607  608  609  610
title                                                               ...
'71 (2014)                                 0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  4.0
'Hellboy': The Seeds of Creation (2004)    0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
'Round Midnight (1986)                     0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
'Salem's Lot (2004)                        0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
'Til There Was You (1997)                  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
...                                        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
eXistenZ (1999)                            0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  4.5  0.0  0.0
xXx (2002)                                 0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  3.5  0.0  2.0
xXx: State of the Union (2005)             0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  1.5
¡Three Amigos! (1986)                      4.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
À nous la liberté (Freedom for Us) (1931)  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0

[9719 rows x 610 columns]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

item_based_collab = cosine_similarity(user_title, user_title)
print(item_based_collab)

[[1.         0.         0.         ... 0.32732684 0.         0.        ]
 [0.         1.         0.70710678 ... 0.         0.         0.        ]
 [0.         0.70710678 1.         ... 0.         0.         0.        ]
 ...
 [0.32732684 0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [ ]:
item_based_collab=pd.DataFrame(item_based_collab, index=user_title.index,columns=user_title.index)
print(item_based_collab)

title                                      '71 (2014)  'Hellboy': The Seeds of Creation (2004)  'Round Midnight (1986)  'Salem's Lot (2004)  'Til There Was You (1997)  ...  eXistenZ (1999)  xXx (2002)  xXx: State of the Union (2005)  ¡Three Amigos! (1986)  À nous la liberté (Freedom for Us) (1931)
title                                                                                                                                                                   ...
'71 (2014)                                   1.000000                                 0.000000                0.000000             0.000000                   0.000000  ...         0.000000    0.139431                        0.327327               0.000000                                        0.0
'Hellboy': The Seeds of Creation (2004)      0.000000                                 1.000000                0.707107             0.000000                   0.000000  ...         0.000000    0.000000                        0.000000               0.000000                                        0.0
'Round Midnight (1986)                       0.000000                                 0.707107                1.000000             0.000000                   0.000000  ...         0.000000    0.000000                        0.000000               0.000000                                        0.0
'Salem's Lot (2004)                          0.000000                                 0.000000                0.000000             1.000000                   0.857493  ...         0.000000    0.000000                        0.000000               0.000000                                        0.0
'Til There Was You (1997)                    0.000000                                 0.000000                0.000000             0.857493                   1.000000  ...         0.000000    0.000000                        0.000000               0.000000                                        0.0
...                                               ...                                      ...                     ...                  ...                        ...  ...              ...         ...                             ...                    ...                                        ...
eXistenZ (1999)                              0.000000                                 0.000000                0.000000             0.000000                   0.000000  ...         1.000000    0.192259                        0.000000               0.170341                                        0.0
xXx (2002)                                   0.139431                                 0.000000                0.000000             0.000000                   0.000000  ...         0.192259    1.000000                        0.270034               0.100396                                        0.0
xXx: State of the Union (2005)               0.327327                                 0.000000                0.000000             0.000000                   0.000000  ...         0.000000    0.270034                        1.000000               0.000000                                        0.0
¡Three Amigos! (1986)                        0.000000                                 0.000000                0.000000             0.000000                   0.000000  ...         0.170341    0.100396                        0.000000               1.000000                                        0.0
À nous la liberté (Freedom for Us) (1931)    0.000000                                 0.000000                0.000000             0.000000                   0.000000  ...         0.000000    0.000000                        0.000000               0.000000                                        1.0

[9719 rows x 9719 columns]

In [ ]:
print(item_based_collab['Dark Knight, The (2008)'].sort_values(ascending=False)[:10])

title
Dark Knight, The (2008)                                      1.000000
Inception (2010)                                             0.727263
Iron Man (2008)                                              0.670538
Dark Knight Rises, The (2012)                                0.666054
Batman Begins (2005)                                         0.651282
Lord of the Rings: The Return of the King, The (2003)        0.620637
Departed, The (2006)                                         0.600920
Lord of the Rings: The Fellowship of the Ring, The (2001)    0.585470
Lord of the Rings: The Two Towers, The (2002)                0.585424
Up (2009)                                                    0.583852
Name: Dark Knight, The (2008), dtype: float64